@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/*--------------------*/
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

/*Шрифт svg ============================================================================================*/
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?uyx04v");
  src: url("../fonts/icons.eot?uyx04v#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?uyx04v") format("truetype"), url("../fonts/icons.woff?uyx04v") format("woff"), url("../fonts/icons.svg?uyx04v#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-facebook:before {
  content: "\e901";
}

._icon-instagramm:before {
  content: "\e902";
}

._icon-linkedin:before {
  content: "\e903";
}

/*======================================================================================================*/
/*custom-blocks+modificators===========================================================================*/
._container {
  max-width: 1467px;
  padding: 0 6px;
  margin: 0 auto;
}

._who-we-are {
  text-align: center;
  margin-bottom: 99px;
}
._who-we-are p {
  display: flex;
  align-self: center;
  margin: 0 auto;
  max-width: 1246px;
}
@media (max-width: 1467px) {
  ._who-we-are {
    margin-bottom: calc(10px + 89 * ((100vw - 320px) / 1147));
  }
}

/*====================================================================================================*/
body {
  font-family: "Montserrat", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

/*HEADER---------------------*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.header__wrapper {
  transition: all 0.3s ease 0s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__wrapper._hide {
  transition: all 1s ease 0s;
  opacity: 0;
  visibility: hidden;
}
.header__body {
  min-height: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  display: flex;
}
@media (max-width: 1467px) {
  .header__body {
    min-height: calc(50px + 100 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .header__body {
    padding-top: calc(5px + 45 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .header__body {
    padding-bottom: calc(5px + 45 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1346px) {
  .header__body {
    justify-content: space-between;
  }
}
@media (max-width: 991.98px) {
  .header__body {
    flex-direction: column;
    justify-content: start;
  }
}
@media (max-width: 767.98px) {
  .header__body {
    flex-direction: row;
    justify-content: space-between;
  }
}
.header__main {
  display: flex;
  align-items: center;
}
.header__logo {
  display: flex;
  margin-right: 92px;
  align-items: center;
}
@media (max-width: 1467px) {
  .header__logo {
    margin-right: calc(0px + 92 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1346px) {
  .header__logo {
    margin-right: 20px;
  }
}
@media (max-width: 991.98px) {
  .header__logo {
    justify-content: space-between;
    padding-bottom: 20px;
  }
}
@media (max-width: 767.98px) {
  .header__logo {
    padding-bottom: 0;
  }
}
.header__imagecont {
  max-width: 162px;
  margin-right: 21px;
}
@media (max-width: 1467px) {
  .header__imagecont {
    max-width: calc(66.7px + 95.3 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .header__imagecont {
    margin-right: calc(0px + 21 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1346px) {
  .header__imagecont {
    margin-right: 10px;
  }
}
.header__logo-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  white-space: nowrap;
}
@media (max-width: 1467px) {
  .header__logo-text {
    font-size: calc(14px + 6 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .header__logo-text {
    line-height: calc(16px + 8 * ((100vw - 320px) / 1147));
  }
}
.header__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: end;
}
.menu__body {
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .menu__body {
    text-align: center;
    position: fixed;
    z-index: 100;
    width: 90%;
    border: 1px solid #000000;
    background: #ffffff;
    border-radius: 15px;
    height: max-content;
    overflow: auto;
    top: 70px;
    left: -100%;
    transition: left 0.3s ease 0s;
    padding: 30px 15px 30px 15px;
    flex-direction: column;
  }
  .menu__body._active {
    left: 50%;
    transform: translateX(-50%);
  }
}
.menu__list {
  display: flex;
}
@media (max-width: 767.98px) {
  .menu__list {
    flex-direction: column;
  }
}
.menu__item {
  font-weight: 400;
  color: #000000;
}
@media (max-width: 767.98px) {
  .menu__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.menu__item:nth-child(1) {
  margin-right: 102px;
  white-space: nowrap;
}
@media (max-width: 1467px) {
  .menu__item:nth-child(1) {
    margin-right: calc(0px + 102 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1346px) {
  .menu__item:nth-child(1) {
    margin-right: 30px;
  }
}
@media (max-width: 767.98px) {
  .menu__item:nth-child(1) {
    margin-right: 0;
  }
}
.menu__item:nth-child(2) {
  margin-right: 93px;
}
@media (max-width: 1467px) {
  .menu__item:nth-child(2) {
    margin-right: calc(0px + 93 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1346px) {
  .menu__item:nth-child(2) {
    margin-right: 30px;
  }
}
@media (max-width: 767.98px) {
  .menu__item:nth-child(2) {
    margin-right: 0;
  }
}
.menu__item:nth-child(3) {
  margin-right: 62px;
}
@media (max-width: 1467px) {
  .menu__item:nth-child(3) {
    margin-right: calc(0px + 62 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1346px) {
  .menu__item:nth-child(3) {
    margin-right: 20px;
  }
}
@media (max-width: 767.98px) {
  .menu__item:nth-child(3) {
    margin-right: 0;
  }
}
.menu__item:nth-child(4) {
  margin-right: 62px;
}
@media (max-width: 1467px) {
  .menu__item:nth-child(4) {
    margin-right: calc(0px + 62 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1346px) {
  .menu__item:nth-child(4) {
    margin-right: 20px;
  }
}
@media (max-width: 767.98px) {
  .menu__item:nth-child(4) {
    margin-right: 0;
  }
}
.menu__item a {
  font-size: 18px;
  line-height: 22px;
  color: inherit;
  transition: all 0.5s ease 0s;
}
@media (max-width: 767.98px) {
  .menu__item a {
    color: #4fcbff;
  }
}
@media (max-width: 1467px) {
  .menu__item a {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .menu__item a {
    line-height: calc(14px + 8 * ((100vw - 320px) / 1147));
  }
}
@media (any-hover: hover) {
  .menu__item a:hover {
    color: #000000;
    font-weight: 700;
  }
}
.menu__item a._activeMenu {
  color: #000000;
  font-weight: 700;
}

.lang-links {
  display: flex;
  justify-content: center;
}
.lang-links a:first-child {
  margin-right: 26px;
}
@media (max-width: 1467px) {
  .lang-links a:first-child {
    margin-right: calc(0px + 26 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1346px) {
  .lang-links a:first-child {
    margin-right: 10px;
  }
}
.lang-links a._active {
  font-weight: 700;
}

/*menu burger-------------*/
.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    margin-left: 25px;
    position: relative;
    display: block;
    flex: 0 0 30px;
    height: 18px;
    cursor: pointer;
    z-index: 101;
  }
}
@media (max-width: 767.98px) and (max-width: 1467px) {
  .icon-menu {
    margin-left: calc(2px + 23 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 767.98px) {
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
  }
}
@media (max-width: 767.98px) {
  .icon-menu::before {
    top: 0;
  }
}
@media (max-width: 767.98px) {
  .icon-menu::after {
    bottom: 0;
  }
}
@media (max-width: 767.98px) {
  .icon-menu span {
    top: calc(50% - 1px);
  }
}

.menu-open span {
  width: 0;
}
.menu-open::before {
  top: calc(50% - 1px);
  transform: rotate(-45deg);
}
.menu-open::after {
  bottom: calc(50% - 1px);
  transform: rotate(45deg);
}

/*------------------------*/
/*First section main*/
.main-title {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1920px;
  background: url("../img/group-of-people-working-out-business-plan-in-an-office 1.png") 0 0/100% 100% no-repeat;
}
@media (max-width: 1467px) {
  .main-title {
    margin-top: calc(50px + 100 * ((100vw - 320px) / 1147));
  }
}
.main-title__body {
  position: relative;
  z-index: 1;
  padding-top: 167px;
  padding-bottom: 209px;
}
@media (max-width: 1467px) {
  .main-title__body {
    padding-top: calc(50px + 117 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .main-title__body {
    padding-bottom: calc(70px + 139 * ((100vw - 320px) / 1147));
  }
}
.main-title__title {
  font-size: 96px;
  line-height: 117px;
  font-weight: 900;
  color: #000000;
  margin-bottom: 15px;
}
@media (max-width: 1467px) {
  .main-title__title {
    font-size: calc(24px + 72 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .main-title__title {
    line-height: calc(29px + 88 * ((100vw - 320px) / 1147));
  }
}
.main-title__subtext {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 105px;
}
@media (max-width: 1467px) {
  .main-title__subtext {
    font-size: calc(12px + 8 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .main-title__subtext {
    line-height: calc(15px + 9 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .main-title__subtext {
    margin-bottom: calc(50px + 55 * ((100vw - 320px) / 1147));
  }
}
.main-title__subtext_why-we {
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 1467px) {
  .main-title__subtext_why-we {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1147));
  }
}

.form-Consultation__body {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .form-Consultation__body {
    flex-direction: column;
  }
}
.form-Consultation__item {
  display: flex;
}
.form-Consultation__item:not(:last-child) {
  margin-right: 26px;
}
@media (max-width: 1467px) {
  .form-Consultation__item:not(:last-child) {
    margin-right: calc(10px + 16 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 767.98px) {
  .form-Consultation__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 23px;
  }
}
.form-Consultation__input {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
  line-height: 24px;
  min-width: 388px;
  text-align: center;
  font-weight: 400;
  color: #7a7a7a;
}
@media (max-width: 1467px) {
  .form-Consultation__input {
    padding-top: calc(10px + 20 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .form-Consultation__input {
    padding-bottom: calc(10px + 20 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .form-Consultation__input {
    font-size: calc(12px + 8 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .form-Consultation__input {
    line-height: calc(15px + 9 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .form-Consultation__input {
    min-width: calc(150px + 238 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 767.98px) {
  .form-Consultation__input {
    min-width: 280px;
  }
}
.form-Consultation__button {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  min-width: 388px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background: #4fcbff;
}
@media (max-width: 1467px) {
  .form-Consultation__button {
    padding-top: calc(10px + 20 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .form-Consultation__button {
    padding-bottom: calc(10px + 20 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .form-Consultation__button {
    font-size: calc(12px + 8 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .form-Consultation__button {
    line-height: calc(15px + 9 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .form-Consultation__button {
    min-width: calc(150px + 238 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 767.98px) {
  .form-Consultation__button {
    min-width: 280px;
  }
}

/*------------------*/
/*Section two main who we are*/
.Who-we-are__container {
  flex-direction: column;
  align-items: center;
}
.Who-we-are__container::before {
  content: "";
  position: relative;
  width: 0;
  height: 0;
  bottom: 105px;
  border-bottom-width: 90px;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-left-width: 1920px;
  border-left-style: solid;
  border-left-color: transparent;
}
@media (max-width: 767.98px) {
  .Who-we-are__container::before {
    border-bottom-width: 53px;
    bottom: 69px;
  }
}
@media (max-width: 1467px) {
  .Who-we-are__container::before {
    border-left-width: calc(1px + 1919 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1461px) {
  .Who-we-are__container::before {
    border-left-width: 1467px;
  }
}
@media (max-width: 1461px) and (max-width: 1467px) {
  .Who-we-are__container::before {
    border-left-width: calc(320px + 1147 * ((100vw - 320px) / 1147));
  }
}
.Who-we-are__container::after {
  content: "";
  position: relative;
  width: 0;
  height: 0;
  top: 105px;
  border-top-width: 90px;
  border-top-style: solid;
  border-top-color: white;
  border-right-width: 1920px;
  border-right-style: solid;
  border-right-color: transparent;
}
@media (max-width: 767.98px) {
  .Who-we-are__container::after {
    border-bottom-width: 53px;
    bottom: 69px;
  }
}
@media (max-width: 1467px) {
  .Who-we-are__container::after {
    border-right-width: calc(1px + 1919 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1461px) {
  .Who-we-are__container::after {
    border-right-width: 1467px;
  }
}
@media (max-width: 1461px) and (max-width: 1467px) {
  .Who-we-are__container::after {
    border-right-width: calc(320px + 1147 * ((100vw - 320px) / 1147));
  }
}
.Who-we-are__title {
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  margin-bottom: 14px;
  color: #000000;
}
.Who-we-are__title_why-we {
  text-transform: uppercase;
}
@media (max-width: 1467px) {
  .Who-we-are__title {
    font-size: calc(12px + 12 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .Who-we-are__title {
    line-height: calc(16px + 13 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .Who-we-are__title {
    margin-bottom: calc(8px + 6 * ((100vw - 320px) / 1147));
  }
}
.Who-we-are__numbers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 37px;
}
.Who-we-are__grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(auto, auto);
  margin-bottom: 32px;
  gap: 32px;
  justify-content: center;
  justify-items: center;
}
@media (max-width: 1467px) {
  .Who-we-are__grid {
    margin-bottom: calc(15px + 17 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .Who-we-are__grid {
    gap: calc(1px + 31 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 991.98px) {
  .Who-we-are__grid {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 767.98px) {
  .Who-we-are__grid {
    grid-template-columns: repeat(1, auto);
  }
}
.Who-we-are__grid3 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(auto, auto);
  gap: 32px;
  justify-content: center;
  justify-items: center;
}
@media (max-width: 1467px) {
  .Who-we-are__grid3 {
    gap: calc(1px + 31 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 767.98px) {
  .Who-we-are__grid3 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767.98px) {
  .numbers {
    display: flex;
    flex-direction: column;
  }
}
.numbers__item {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.numbers__num {
  white-space: nowrap;
  font-size: 150px;
  line-height: 183px;
  margin-bottom: 3px;
  font-weight: 700;
  color: #4fcbff;
}
@media (max-width: 1467px) {
  .numbers__num {
    font-size: calc(50px + 100 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .numbers__num {
    line-height: calc(70px + 113 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 767.98px) {
  .numbers__num {
    font-size: 150px;
    line-height: 183px;
  }
}
@media (max-width: 767.98px) and (max-width: 1467px) {
  .numbers__num {
    font-size: calc(96px + 54 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 767.98px) and (max-width: 1467px) {
  .numbers__num {
    line-height: calc(117px + 66 * ((100vw - 320px) / 1147));
  }
}
.numbers__text {
  text-align: center;
  color: #000000;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
}
@media (max-width: 1467px) {
  .numbers__text {
    font-size: calc(12px + 12 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .numbers__text {
    line-height: calc(14px + 15 * ((100vw - 320px) / 1147));
  }
}

.grid-Who-we-are__item {
  width: 100%;
  object-fit: contain;
}
.grid-Who-we-are__image-item {
  cursor: pointer;
  min-height: 348px;
  max-width: 351px;
  max-height: 348px;
  margin-bottom: 13px;
  position: relative;
  opacity: 0.3;
  transition: all 0.5s ease 0s;
}
@media (max-width: 1467px) {
  .grid-Who-we-are__image-item {
    min-height: calc(1px + 347 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .grid-Who-we-are__image-item {
    max-width: calc(1px + 350 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .grid-Who-we-are__image-item {
    max-height: calc(1px + 347 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 991.98px) {
  .grid-Who-we-are__image-item {
    min-height: 348px;
    max-width: 351px;
    max-height: 348px;
  }
}
@media (max-width: 991.98px) and (max-width: 1467px) {
  .grid-Who-we-are__image-item {
    min-height: calc(100px + 248 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 991.98px) and (max-width: 1467px) {
  .grid-Who-we-are__image-item {
    max-width: calc(100px + 251 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 991.98px) and (max-width: 1467px) {
  .grid-Who-we-are__image-item {
    max-height: calc(100px + 248 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 767.98px) {
  .grid-Who-we-are__image-item {
    min-height: 348px;
    max-width: 351px;
    max-height: 348px;
  }
}
@media (max-width: 767.98px) and (max-width: 1467px) {
  .grid-Who-we-are__image-item {
    min-height: calc(198px + 150 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 767.98px) and (max-width: 1467px) {
  .grid-Who-we-are__image-item {
    max-width: calc(198px + 153 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 767.98px) and (max-width: 1467px) {
  .grid-Who-we-are__image-item {
    max-height: calc(198px + 150 * ((100vw - 320px) / 1147));
  }
}
.grid-Who-we-are__image-item::after {
  transition: all 0.5s ease 0s;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 0;
  height: 0;
  border-bottom: 100px solid white;
  border-left: 100px solid transparent;
  opacity: 0.5;
}
@media (any-hover: hover) {
  .grid-Who-we-are__image-item:hover {
    opacity: 1;
  }
  .grid-Who-we-are__image-item:hover::after {
    border-bottom: 100px solid #ffd911;
    opacity: 1;
  }
}
@media (max-width: 991.98px) {
  .grid-Who-we-are__image-item {
    opacity: 1;
  }
  .grid-Who-we-are__image-item::after {
    display: none;
  }
}

.grid-Who-we-are-image {
  min-height: 348px;
  max-width: 351px;
  max-height: 348px;
  object-fit: cover;
}
@media (max-width: 1467px) {
  .grid-Who-we-are-image {
    min-height: calc(1px + 347 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .grid-Who-we-are-image {
    max-width: calc(1px + 350 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .grid-Who-we-are-image {
    max-height: calc(1px + 347 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 991.98px) {
  .grid-Who-we-are-image {
    min-height: 348px;
    max-width: 351px;
    max-height: 348px;
  }
}
@media (max-width: 991.98px) and (max-width: 1467px) {
  .grid-Who-we-are-image {
    min-height: calc(100px + 248 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 991.98px) and (max-width: 1467px) {
  .grid-Who-we-are-image {
    max-width: calc(100px + 251 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 991.98px) and (max-width: 1467px) {
  .grid-Who-we-are-image {
    max-height: calc(100px + 248 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 767.98px) {
  .grid-Who-we-are-image {
    min-height: 348px;
    max-width: 351px;
    max-height: 348px;
  }
}
@media (max-width: 767.98px) and (max-width: 1467px) {
  .grid-Who-we-are-image {
    min-height: calc(198px + 150 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 767.98px) and (max-width: 1467px) {
  .grid-Who-we-are-image {
    max-width: calc(198px + 153 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 767.98px) and (max-width: 1467px) {
  .grid-Who-we-are-image {
    max-height: calc(198px + 150 * ((100vw - 320px) / 1147));
  }
}

._pad {
  max-width: 351px;
}
@media (max-width: 1467px) {
  ._pad {
    max-width: calc(1px + 350 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 991.98px) {
  ._pad {
    max-width: 351px;
  }
}
@media (max-width: 991.98px) and (max-width: 1467px) {
  ._pad {
    max-width: calc(100px + 251 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 767.98px) {
  ._pad {
    max-width: 351px;
  }
}
@media (max-width: 767.98px) and (max-width: 1467px) {
  ._pad {
    max-width: calc(198px + 153 * ((100vw - 320px) / 1147));
  }
}

/*---------------------------*/
/*section three main*/
.why-we__body {
  display: flex;
  flex-direction: column;
  background: #ededed;
  padding-top: 111px;
}
.why-we__grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(auto, auto);
  gap: 26px;
}
@media (max-width: 1467px) {
  .why-we__grid {
    gap: calc(1px + 25 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 767.98px) {
  .why-we__grid {
    grid-template-columns: repeat(1, auto);
  }
}
.why-we__form {
  padding-top: 49px;
  padding-bottom: 33px;
  background: #ffd911;
}
.why-we__paralel-yellow {
  content: "";
  position: relative;
  top: -1px;
  width: 0;
  height: 0;
  border-top-width: 30px;
  border-top-style: solid;
  border-top-color: #ffd911;
  border-right-width: 1920px;
  border-right-style: solid;
  border-right-color: transparent;
}
@media (max-width: 767.98px) {
  .why-we__paralel-yellow {
    border-top-width: 30px;
  }
}
@media (max-width: 1467px) {
  .why-we__paralel-yellow {
    border-right-width: calc(1px + 1919 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1461px) {
  .why-we__paralel-yellow {
    border-right-width: 1467px;
  }
}
@media (max-width: 1461px) and (max-width: 1467px) {
  .why-we__paralel-yellow {
    border-right-width: calc(320px + 1147 * ((100vw - 320px) / 1147));
  }
}
.why-we__paralel {
  min-height: 32px;
  background: #ffd911;
}
.why-we__paralel-yellowup {
  position: relative;
  width: 0;
  height: 0;
  top: 1px;
  border-bottom-width: 30px;
  border-bottom-style: solid;
  border-bottom-color: #ffd911;
  border-left-width: 1920px;
  border-left-style: solid;
  border-left-color: transparent;
}
@media (max-width: 767.98px) {
  .why-we__paralel-yellowup {
    border-bottom-width: 30px;
  }
}
@media (max-width: 1467px) {
  .why-we__paralel-yellowup {
    border-left-width: calc(1px + 1919 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1461px) {
  .why-we__paralel-yellowup {
    border-left-width: 1467px;
  }
}
@media (max-width: 1461px) and (max-width: 1467px) {
  .why-we__paralel-yellowup {
    border-left-width: calc(320px + 1147 * ((100vw - 320px) / 1147));
  }
}

.grid-why-we__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grid-why-we__content {
  margin-bottom: 102px;
}
@media (max-width: 1467px) {
  .grid-why-we__content {
    margin-bottom: calc(40px + 62 * ((100vw - 320px) / 1147));
  }
}
.grid-why-we__subtext {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-align: center;
  padding: 0 24px;
  max-width: 382px;
}
@media (max-width: 1467px) {
  .grid-why-we__subtext {
    font-size: calc(12px + 4 * ((100vw - 320px) / 1147));
  }
}
@media (max-width: 1467px) {
  .grid-why-we__subtext {
    line-height: calc(16px + 4 * ((100vw - 320px) / 1147));
  }
}

/*---------------------*/